
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/simcity.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: black;

}

#timer {
    color: red;
    font-family: 'digital-clock-font';
    font-size: 1.5em;
}

#reset {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 10%;
}